body {
  font-family: "Poppins", sans-serif;
}
.active-link i {
  color: red;
  background-color: transparent;
  border-radius: 50%;
}
.active-pokeball .pokeball-container {
  position: relative;
  height: 22px;
  width: 22px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokeball-container img {
  position: relative;
  z-index: 1;
  height: 100%;
}
.not-link i {
  color: white;
}
.fa-heart {
  cursor: pointer;
  color: gray;
  transition: color 0.3s ease;
}

.fa-heart.favorited {
  color: red;
  background-color: red;
  background-clip: text;
  animation: pop 0.3s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
